<div class="admin-sidebar" [class.collapsed]="isCollapsed">
  <div class="admin-brand">

    <span *ngIf="!isCollapsed">Time Forge</span>
  </div>

  <ul class="admin-menu">
    <li *ngFor="let item of menuItems; let i = index"
        [class.active]="item.active"
        (click)="setActive(i)">
      <!-- Utiliser item.link directement sans ? car l'interface le permet -->
      <a [routerLink]="item.link || '#'">
        <i [class]="item.icon"></i>
        <span *ngIf="!isCollapsed">{{ item.label }}</span>
      </a>
    </li>
  </ul>
</div>
